


.div p {
  height: 400px;
}

.header {
  list-style: none;
  overflow: hidden;
  background: white;
  height: 40px;

}

.header li {
  width: 100px;
  text-align: center;
  background: blue;
  border:1px solid #000000;
  float: left;
  height: 27px;
  line-height: 30px;
  margin-right: 5px;
  padding: 5px;
}

.header li a {
  font-size: 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}



.top-wrapper {
  padding: 200px 10px 100px 10px;
  background-image: url("https://msp.c.yimg.jp/images/v2/tpvPBYOX1wpNVI1UoNSgEhaZvCmqN0JEHaslpY2ja5No8lj5w9gXg_M8pWDOktJaUyxgB_denqB9p5syNBP5amODkMSmltgbsfdwxg85FDgkfVd1XKqoSRyZpdlemLoA5BeN8DXddI9EpIEitHhYmQjYG_jQ8Nd73BbzAfA9VQN-sdbuzxN4RY9bUJfTnpyt/sea86.jpg?errorImage=false");
  background-size: cover;
  color: white;
}




.content_1 {
  height: 620px;
  text-align: left
}

.content_1 h2 {
  padding-left: 220px;
}

.content_2 {
  height: 300px;
  text-align: center;
}

.content_3 {
  height: 300px;
  text-align: center;
}
