


.div p {
  height: 400px;
}

.header {
  list-style: none;
  overflow: hidden;
  background: white;
  height: 40px;

}

.header li {
  width: 100px;
  text-align: center;
  background: blue;
  border:1px solid #000000;
  float: left;
  height: 27px;
  line-height: 30px;
  margin-right: 5px;
  padding: 5px;
}

.header li a {
  font-size: 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}



.top-wrapper {
  padding: 200px 10px 100px 10px;
  background-image: url("https://thumb.photo-ac.com/ab/ab7315d7d6fe4cb805ef49fd63690c20_w.jpg");
  background-size: cover;
  color: white;
}




.content_1 {
  height: 620px;
  text-align: left
}

.content_1 h2 {
  padding-left: 220px;
}

.content_1 h1 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 30px;
  background-color: aqua;
}

.content_2 {
  padding-top: 200px;
  height: 300px;
  text-align: center;
}

.content_2 a {
  font-size: 25px;
  padding: 0.2em;
}



.content_3 {
  padding-top: 250px;
  padding-bottom: 50px;
  height: 300px;
  text-align: center;
}

.content_3 a {
  font-size: 25px;
  padding: 0.2em;
}

.web  {
  position: relative;
  right: 120px;
  bottom: 40px;
}

.web h4 {
  position: relative;
  top: 80px;
  color: white;
}

.web_code {
  position: relative;
  bottom: 80px;
  right: 150px;
}

.web_code1 {
  position: relative;
  bottom: 80px;
  right: 120px;
}

.web_all {
  position: relative;
  left: 120px;
}

.web_all2 {
  position: relative;
  left: 120px;
  bottom: 70px;
}


.web1  {
  position: relative;
  right: 120px;
  bottom: 40px;
}

.web1 h4 {
  position: relative;
  top: 80px;
  color: white;
}

.web_code1_1 {
  position: relative;
  bottom: 80px;
  right: 140px;
}

@media only screen and (max-width: 670px) {
  .sp { max-width: 100%; }
  .sp1 { max-width: 100%; }
}
